<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.roomMgr.servlet.UserLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>roomManage</servlet-name>
    <servlet-class>com.roomMgr.servlet.RoomManage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addRoom</servlet-name>
    <servlet-class>com.roomMgr.servlet.addNewRoomInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateRoomInfo</servlet-name>
    <servlet-class>com.roomMgr.servlet.UpdateRoomInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteRoomInfo</servlet-name>
    <servlet-class>com.roomMgr.servlet.DeleteRoomInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addCusInfo</servlet-name>
    <servlet-class>com.roomMgr.servlet.AddCustomerInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>viewCusInfo</servlet-name>
    <servlet-class>com.roomMgr.servlet.ViewCustomer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getRoomInfo</servlet-name>
    <servlet-class>com.roomMgr.servlet.GetRoomInfoById</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>roomEntry</servlet-name>
    <servlet-class>com.roomMgr.servlet.RoomEntry</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>viewEntryInfo</servlet-name>
    <servlet-class>com.roomMgr.servlet.ViewCustomerEntryInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>checkoutRoom</servlet-name>
    <servlet-class>com.roomMgr.servlet.CheckOutRoom</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>selectRoom</servlet-name>
    <servlet-class>com.roomMgr.servlet.SelectRoomInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/UserLogin.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>roomManage</servlet-name>
    <url-pattern>/RoomManage.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addRoom</servlet-name>
    <url-pattern>/addNewRoom.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateRoomInfo</servlet-name>
    <url-pattern>/updateRoomInfo.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteRoomInfo</servlet-name>
    <url-pattern>/deleteRoomInfo.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addCusInfo</servlet-name>
    <url-pattern>/addCusInfo.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewCusInfo</servlet-name>
    <url-pattern>/ViewCustomer.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getRoomInfo</servlet-name>
    <url-pattern>/roomInfoById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>roomEntry</servlet-name>
    <url-pattern>/roomEntry.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewEntryInfo</servlet-name>
    <url-pattern>/viewCustomerEntryInfo.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkoutRoom</servlet-name>
    <url-pattern>/checkoutRoom.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selectRoom</servlet-name>
    <url-pattern>/selectRoomInfo.do</url-pattern>
  </servlet-mapping>
</web-app>